.apartment__banner {
    position: relative;
    margin-bottom: 2rem;
    margin-top: 1rem;

    .btn { 
        position: absolute;
        cursor: pointer;
        top: 50%; /* Centra verticalmente il bottone */
        transform: translateY(-50%); /* Allinea verticalmente il bottone */
        width: 4rem;
        height: 4rem; /* Aggiunto per mantenere la forma del bottone */
        background-color: transparent;
        color: white;
        font-size: 3rem;
        border-width: 0;
        &:active,
        &:focus {
            outline: none;
        }

        &.btn-previous {
            left: 0; /* Posiziona il bottone precedente a sinistra */
        }

        &.btn-next {
            right: 0; /* Posiziona il bottone successivo a destra */
        }

        @media screen and (max-width: 768px) {
            width: 3rem; /* Riduce la dimensione dei bottoni su schermi piccoli */
            height: 3rem;
            font-size: 2rem;
        }
    }

    .slide-counter {
        position: absolute;
        color: white;
        font-size: 1.5rem;
        font-weight: 500;
        width: 100%; 
        bottom: 1rem; 
        display: flex; 
        justify-content: center; 
        align-items: center; 
        text-align: center;
    }

    .image__container {
        position: relative;
        height: 20rem;
        width: 100%;
        
        img {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            background-color: rgb(149 157 165 / 20%);
            border-radius: 1rem;
            opacity: 0;
            transition: opacity 0.5s ease-in-out;

            &.show {
                opacity: 1;
            }
        }
    }
}
