.main{
   padding-inline: 2rem 3rem;
   min-height: 60vh;
   @media screen and (max-width: 768px) {
      padding: 1rem;
   }

}
.main {
   flex: 1; /* Consente al contenuto principale di occupare lo spazio disponibile */
}